@page "/connectivity"
@rendermode InteractiveServer
@using DataForeman.BlazorUI.Services
@inject ApiService ApiService

<PageTitle>Connectivity - DataForeman</PageTitle>

<div class="connectivity-page">
    <div class="page-header">
        <h1>Connectivity</h1>
        <div class="page-actions">
            <SfButton CssClass="e-primary" IconCss="e-icons e-plus" Content="Add Connection" OnClick="@OpenAddConnectionDialog"></SfButton>
        </div>
    </div>
    
    @if (IsLoading)
    {
        <div class="loading-indicator">Loading connectivity data...</div>
    }
    else
    {
        <SfTab>
            <TabItems>
                <TabItem>
                    <HeaderTemplate>
                        <span>Connections</span>
                    </HeaderTemplate>
                    <ContentTemplate>
                        <div class="tab-content">
                            @if (Connections.Count == 0)
                            {
                                <div class="no-data">No connections configured. Click "Add Connection" to create one.</div>
                            }
                            else
                            {
                                <SfGrid DataSource="@Connections" AllowPaging="true" AllowSorting="true">
                                    <GridColumns>
                                        <GridColumn Field="@nameof(ConnectionDisplayItem.Name)" HeaderText="Name" Width="200"></GridColumn>
                                        <GridColumn Field="@nameof(ConnectionDisplayItem.Type)" HeaderText="Type" Width="120"></GridColumn>
                                        <GridColumn HeaderText="Status" Width="100">
                                            <Template>
                                                @{
                                                    var conn = context as ConnectionDisplayItem;
                                                    if (conn != null)
                                                    {
                                                        <span class="status-indicator @(conn.Enabled ? "connected" : "disconnected")">
                                                            @(conn.Enabled ? "Connected" : "Disabled")
                                                        </span>
                                                    }
                                                }
                                            </Template>
                                        </GridColumn>
                                        <GridColumn Field="@nameof(ConnectionDisplayItem.TagCount)" HeaderText="Tags" Width="80"></GridColumn>
                                        <GridColumn HeaderText="Actions" Width="150">
                                            <Template>
                                                @{
                                                    var conn = context as ConnectionDisplayItem;
                                                    if (conn != null)
                                                    {
                                                        <div class="action-buttons">
                                                            <SfButton CssClass="e-flat e-small" IconCss="e-icons e-edit" OnClick="@(() => EditConnection(conn))"></SfButton>
                                                            <SfButton CssClass="e-flat e-small" IconCss="e-icons e-refresh" OnClick="@(() => TestConnection(conn))"></SfButton>
                                                            <SfButton CssClass="e-flat e-small" IconCss="e-icons e-delete" OnClick="@(() => DeleteConnection(conn))"></SfButton>
                                                        </div>
                                                    }
                                                }
                                            </Template>
                                        </GridColumn>
                                    </GridColumns>
                                </SfGrid>
                            }
                        </div>
                    </ContentTemplate>
                </TabItem>
                
                <TabItem>
                    <HeaderTemplate>
                        <span>Tags</span>
                    </HeaderTemplate>
                    <ContentTemplate>
                        <div class="tab-content">
                            <div class="tags-toolbar">
                                <SfDropDownList TItem="ConnectionDisplayItem" TValue="Guid?" DataSource="@Connections" @bind-Value="SelectedConnectionId" Placeholder="Select Connection" Width="250px">
                                    <DropDownListFieldSettings Text="Name" Value="Id"></DropDownListFieldSettings>
                                </SfDropDownList>
                                <SfTextBox Placeholder="Search tags..." @bind-Value="TagSearch" Width="300px"></SfTextBox>
                                <div class="toolbar-spacer"></div>
                                <SfButton CssClass="e-outline" IconCss="e-icons e-browse" Content="Browse Tags" OnClick="@BrowseTags"></SfButton>
                                <SfButton CssClass="e-primary" IconCss="e-icons e-plus" Content="Add Tag"></SfButton>
                            </div>
                            
                            @if (FilteredTags.Count == 0)
                            {
                                <div class="no-data">No tags found. Add a connection and browse tags to get started.</div>
                            }
                            else
                            {
                                <SfGrid DataSource="@FilteredTags" AllowPaging="true" AllowSorting="true" AllowFiltering="true" AllowSelection="true">
                                    <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                                    <GridColumns>
                                        <GridColumn Type="ColumnType.CheckBox" Width="50"></GridColumn>
                                        <GridColumn Field="@nameof(TagDisplayItem.TagPath)" HeaderText="Tag Path" Width="300"></GridColumn>
                                        <GridColumn Field="@nameof(TagDisplayItem.DataType)" HeaderText="Data Type" Width="100"></GridColumn>
                                        <GridColumn Field="@nameof(TagDisplayItem.CurrentValue)" HeaderText="Current Value" Width="120"></GridColumn>
                                        <GridColumn Field="@nameof(TagDisplayItem.PollGroupName)" HeaderText="Poll Group" Width="120"></GridColumn>
                                        <GridColumn HeaderText="Subscribed" Width="100">
                                            <Template>
                                                @{
                                                    var tag = context as TagDisplayItem;
                                                    if (tag != null)
                                                    {
                                                        <SfSwitch @bind-Checked="tag.IsSubscribed" TChecked="bool"></SfSwitch>
                                                    }
                                                }
                                            </Template>
                                        </GridColumn>
                                    </GridColumns>
                                </SfGrid>
                            }
                        </div>
                    </ContentTemplate>
                </TabItem>
                
                <TabItem>
                    <HeaderTemplate>
                        <span>Poll Groups</span>
                    </HeaderTemplate>
                    <ContentTemplate>
                        <div class="tab-content">
                            @if (PollGroups.Count == 0)
                            {
                                <div class="no-data">No poll groups defined.</div>
                            }
                            else
                            {
                                <SfGrid DataSource="@PollGroups" AllowPaging="true">
                                    <GridColumns>
                                        <GridColumn Field="@nameof(PollGroupDisplayItem.Name)" HeaderText="Name" Width="200"></GridColumn>
                                        <GridColumn Field="@nameof(PollGroupDisplayItem.PollRateMs)" HeaderText="Poll Rate (ms)" Width="150"></GridColumn>
                                        <GridColumn Field="@nameof(PollGroupDisplayItem.Description)" HeaderText="Description" Width="300"></GridColumn>
                                        <GridColumn Field="@nameof(PollGroupDisplayItem.TagCount)" HeaderText="Tags" Width="100"></GridColumn>
                                        <GridColumn HeaderText="Active" Width="100">
                                            <Template>
                                                @{
                                                    var pg = context as PollGroupDisplayItem;
                                                    if (pg != null)
                                                    {
                                                        <SfSwitch @bind-Checked="pg.IsActive" TChecked="bool"></SfSwitch>
                                                    }
                                                }
                                            </Template>
                                        </GridColumn>
                                    </GridColumns>
                                </SfGrid>
                            }
                        </div>
                    </ContentTemplate>
                </TabItem>
                
                <TabItem>
                    <HeaderTemplate>
                        <span>Units</span>
                    </HeaderTemplate>
                    <ContentTemplate>
                        <div class="tab-content">
                            @if (Units.Count == 0)
                            {
                                <div class="no-data">No units of measure defined.</div>
                            }
                            else
                            {
                                <SfGrid DataSource="@Units" AllowPaging="true" AllowGrouping="true">
                                    <GridGroupSettings Columns="@(new string[] { "Category" })"></GridGroupSettings>
                                    <GridColumns>
                                        <GridColumn Field="@nameof(UnitDisplayItem.Name)" HeaderText="Name" Width="200"></GridColumn>
                                        <GridColumn Field="@nameof(UnitDisplayItem.Symbol)" HeaderText="Symbol" Width="100"></GridColumn>
                                        <GridColumn Field="@nameof(UnitDisplayItem.Category)" HeaderText="Category" Width="150"></GridColumn>
                                    </GridColumns>
                                </SfGrid>
                            }
                        </div>
                    </ContentTemplate>
                </TabItem>
            </TabItems>
        </SfTab>
    }
</div>

<SfDialog @bind-Visible="ShowAddConnectionDialog" Header="Add Connection" Width="500px" IsModal="true">
    <DialogTemplates>
        <Content>
            <div class="dialog-form">
                <div class="form-group">
                    <label>Connection Name</label>
                    <SfTextBox @bind-Value="NewConnection.Name" Placeholder="Enter connection name"></SfTextBox>
                </div>
                <div class="form-group">
                    <label>Type</label>
                    <SfDropDownList TItem="string" TValue="string" DataSource="@ConnectionTypes" @bind-Value="NewConnection.Type" Placeholder="Select type"></SfDropDownList>
                </div>
                <div class="form-group">
                    <label>Host/Address</label>
                    <SfTextBox @bind-Value="NewConnection.Host" Placeholder="e.g., 192.168.1.100"></SfTextBox>
                </div>
                <div class="form-group">
                    <label>Port</label>
                    <SfNumericTextBox TValue="int" @bind-Value="NewConnection.Port" Min="1" Max="65535"></SfNumericTextBox>
                </div>
            </div>
        </Content>
    </DialogTemplates>
    <DialogButtons>
        <DialogButton Content="Cancel" OnClick="@CloseAddConnectionDialog"></DialogButton>
        <DialogButton Content="Add" IsPrimary="true" OnClick="@AddConnection"></DialogButton>
    </DialogButtons>
</SfDialog>

<style>
    .connectivity-page {
        height: 100%;
    }
    
    .page-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 24px;
    }
    
    .page-header h1 {
        margin: 0;
    }
    
    .loading-indicator {
        text-align: center;
        padding: 40px;
        color: #9d9d9d;
    }
    
    .no-data {
        text-align: center;
        padding: 40px;
        color: #9d9d9d;
        font-style: italic;
    }
    
    .tab-content {
        padding: 16px 0;
    }
    
    .tags-toolbar {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-bottom: 16px;
    }
    
    .toolbar-spacer {
        flex: 1;
    }
    
    .status-indicator {
        display: inline-flex;
        align-items: center;
        gap: 6px;
        padding: 4px 8px;
        border-radius: 4px;
        font-size: 12px;
    }
    
    .status-indicator::before {
        content: '';
        width: 8px;
        height: 8px;
        border-radius: 50%;
    }
    
    .status-indicator.connected {
        background: rgba(76, 175, 80, 0.2);
        color: #4caf50;
    }
    
    .status-indicator.connected::before {
        background: #4caf50;
    }
    
    .status-indicator.disconnected {
        background: rgba(158, 158, 158, 0.2);
        color: #9e9e9e;
    }
    
    .status-indicator.disconnected::before {
        background: #9e9e9e;
    }
    
    .action-buttons {
        display: flex;
        gap: 4px;
    }
    
    .dialog-form {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    
    .form-group {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }
    
    .form-group label {
        font-size: 13px;
        color: #9d9d9d;
    }
</style>

@code {
    private bool IsLoading = true;
    private bool ShowAddConnectionDialog = false;
    private Guid? SelectedConnectionId;
    private string TagSearch = "";
    
    private NewConnectionModel NewConnection = new();
    
    private List<string> ConnectionTypes = new() { "OPC UA", "EtherNet/IP", "Siemens S7", "MQTT", "Modbus TCP" };
    
    private List<ConnectionDisplayItem> Connections = new();
    private List<TagDisplayItem> Tags = new();
    private List<PollGroupDisplayItem> PollGroups = new();
    private List<UnitDisplayItem> Units = new();
    
    private List<TagDisplayItem> FilteredTags => string.IsNullOrEmpty(TagSearch)
        ? Tags
        : Tags.Where(t => t.TagPath.Contains(TagSearch, StringComparison.OrdinalIgnoreCase)).ToList();
    
    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }
    
    private async Task LoadData()
    {
        IsLoading = true;
        
        try
        {
            // Load connections from API
            var connectionsTask = ApiService.GetConnectionsAsync();
            var tagsTask = ApiService.GetTagsAsync();
            var pollGroupsTask = ApiService.GetPollGroupsAsync();
            var unitsTask = ApiService.GetUnitsAsync();
            
            await Task.WhenAll(connectionsTask, tagsTask, pollGroupsTask, unitsTask);
            
            var connectionsResponse = await connectionsTask;
            if (connectionsResponse?.Connections != null)
            {
                Connections = connectionsResponse.Connections.Select(c => new ConnectionDisplayItem
                {
                    Id = c.Id,
                    Name = c.Name,
                    Type = c.Type,
                    Enabled = c.Status == "Connected",
                    TagCount = c.TagCount
                }).ToList();
            }
            
            var tagsResponse = await tagsTask;
            if (tagsResponse?.Tags != null)
            {
                Tags = tagsResponse.Tags.Select(t => new TagDisplayItem
                {
                    TagId = t.Id,
                    TagPath = t.Path,
                    DataType = t.DataType ?? "Unknown",
                    CurrentValue = t.CurrentValue?.ToString() ?? "-",
                    PollGroupName = "Standard",
                    IsSubscribed = false
                }).ToList();
            }
            
            var pollGroupsResponse = await pollGroupsTask;
            if (pollGroupsResponse?.PollGroups != null)
            {
                PollGroups = pollGroupsResponse.PollGroups.Select(pg => new PollGroupDisplayItem
                {
                    GroupId = pg.Id,
                    Name = pg.Name,
                    PollRateMs = pg.PollRateMs,
                    Description = "",
                    TagCount = 0,
                    IsActive = true
                }).ToList();
            }
            
            var unitsResponse = await unitsTask;
            if (unitsResponse?.Units != null)
            {
                Units = unitsResponse.Units.Select(u => new UnitDisplayItem
                {
                    Id = u.Id,
                    Name = u.Name,
                    Symbol = u.Symbol ?? "",
                    Category = "General"
                }).ToList();
            }
        }
        catch (Exception)
        {
            // API not available
        }
        
        IsLoading = false;
    }
    
    private void OpenAddConnectionDialog()
    {
        NewConnection = new NewConnectionModel { Port = 44818 };
        ShowAddConnectionDialog = true;
    }
    
    private void CloseAddConnectionDialog()
    {
        ShowAddConnectionDialog = false;
    }
    
    private void AddConnection()
    {
        Connections.Add(new ConnectionDisplayItem
        {
            Id = Guid.NewGuid(),
            Name = NewConnection.Name,
            Type = NewConnection.Type,
            Enabled = false,
            TagCount = 0
        });
        ShowAddConnectionDialog = false;
    }
    
    private void EditConnection(ConnectionDisplayItem conn)
    {
        // Open edit dialog
    }
    
    private void TestConnection(ConnectionDisplayItem conn)
    {
        // Test connection
    }
    
    private void DeleteConnection(ConnectionDisplayItem conn)
    {
        Connections.Remove(conn);
    }
    
    private void BrowseTags()
    {
        // Open tag browser dialog
    }
    
    class ConnectionDisplayItem
    {
        public Guid Id { get; set; }
        public string Name { get; set; } = "";
        public string Type { get; set; } = "";
        public bool Enabled { get; set; }
        public int TagCount { get; set; }
    }
    
    class TagDisplayItem
    {
        public Guid TagId { get; set; }
        public string TagPath { get; set; } = "";
        public string DataType { get; set; } = "";
        public string CurrentValue { get; set; } = "";
        public string PollGroupName { get; set; } = "";
        public bool IsSubscribed { get; set; }
    }
    
    class PollGroupDisplayItem
    {
        public Guid GroupId { get; set; }
        public string Name { get; set; } = "";
        public int PollRateMs { get; set; }
        public string Description { get; set; } = "";
        public int TagCount { get; set; }
        public bool IsActive { get; set; }
    }
    
    class UnitDisplayItem
    {
        public Guid Id { get; set; }
        public string Name { get; set; } = "";
        public string Symbol { get; set; } = "";
        public string Category { get; set; } = "";
    }
    
    class NewConnectionModel
    {
        public string Name { get; set; } = "";
        public string Type { get; set; } = "";
        public string Host { get; set; } = "";
        public int Port { get; set; }
    }
}
