@page "/connections"
@rendermode InteractiveServer
@inject ConfigService ConfigService
@inject MqttService MqttService

<PageTitle>Connections - DataForeman</PageTitle>

<div class="connections-page">
    <div class="page-header">
        <h1>Connections</h1>
        <SfButton CssClass="e-primary" IconCss="e-icons e-plus" Content="New Connection"
                  OnClick="@NewConnection"></SfButton>
    </div>

    @if (ConfigService.Connections.Count == 0)
    {
        <div class="empty-state">
            <p>No connections configured.</p>
            <p>Click "New Connection" to add your first device.</p>
        </div>
    }
    else
    {
        <SfGrid DataSource="@ConfigService.Connections" AllowSelection="true">
            <GridColumns>
                <GridColumn HeaderText="Status" Width="60">
                    <Template>
                        @{
                            var conn = context as ConnectionConfig;
                            <div class="status-indicator @(conn?.Enabled == true ? "enabled" : "disabled")"></div>
                        }
                    </Template>
                </GridColumn>
                <GridColumn Field="@nameof(ConnectionConfig.Name)" HeaderText="Name" Width="200"></GridColumn>
                <GridColumn Field="@nameof(ConnectionConfig.Type)" HeaderText="Type" Width="120"></GridColumn>
                <GridColumn HeaderText="Address" Width="180">
                    <Template>
                        @{
                            var conn = context as ConnectionConfig;
                            @if (conn?.Type != ConnectionType.Simulator)
                            {
                                <span class="mono-text">@conn?.Host:@conn?.Port</span>
                            }
                            else
                            {
                                <span class="text-muted">Simulated</span>
                            }
                        }
                    </Template>
                </GridColumn>
                <GridColumn HeaderText="Tags" Width="80">
                    <Template>
                        @{
                            var conn = context as ConnectionConfig;
                            <span>@conn?.Tags.Count</span>
                        }
                    </Template>
                </GridColumn>
                <GridColumn HeaderText="Actions" Width="180">
                    <Template>
                        @{
                            var conn = context as ConnectionConfig;
                            <div class="action-buttons">
                                <SfButton CssClass="e-small e-flat" IconCss="e-icons e-edit"
                                          OnClick="() => EditConnection(conn!)"></SfButton>
                                <SfButton CssClass="e-small e-flat" IconCss="e-icons e-tag" Content="Tags"
                                          OnClick="() => EditTags(conn!)"></SfButton>
                                <SfButton CssClass="e-small e-flat e-danger" IconCss="e-icons e-delete"
                                          OnClick="() => DeleteConnection(conn!)"></SfButton>
                            </div>
                        }
                    </Template>
                </GridColumn>
            </GridColumns>
        </SfGrid>
    }
</div>

<SfDialog Width="450px" IsModal="true" @bind-Visible="ShowEditor" ShowCloseIcon="true"
          Header="@(IsNewConnection ? "New Connection" : "Edit Connection")">
    <DialogTemplates>
        <Content>
            <div class="dialog-form">
                <div class="form-group">
                    <label>Name</label>
                    <SfTextBox @bind-Value="EditingConnection.Name" Placeholder="Connection name"></SfTextBox>
                </div>
                <div class="form-group">
                    <label>Type</label>
                    <SfDropDownList TItem="ConnectionTypeOption" TValue="ConnectionType"
                                    DataSource="@ConnectionTypes"
                                    @bind-Value="EditingConnection.Type"
                                    ValueChanged="@OnTypeChanged">
                        <DropDownListFieldSettings Text="Name" Value="Value"></DropDownListFieldSettings>
                    </SfDropDownList>
                </div>
                @if (EditingConnection.Type != ConnectionType.Simulator)
                {
                    <div class="form-row">
                        <div class="form-group flex-grow">
                            <label>Host</label>
                            <SfTextBox @bind-Value="EditingConnection.Host" Placeholder="192.168.1.100"></SfTextBox>
                        </div>
                        <div class="form-group" style="width: 100px;">
                            <label>Port</label>
                            <SfNumericTextBox TValue="int" @bind-Value="EditingConnection.Port"
                                              Min="1" Max="65535" Format="####"></SfNumericTextBox>
                        </div>
                    </div>
                }
                <div class="form-group">
                    <SfCheckBox @bind-Checked="EditingConnection.Enabled" Label="Enabled" TChecked="bool"></SfCheckBox>
                </div>
            </div>
        </Content>
    </DialogTemplates>
    <DialogButtons>
        <DialogButton Content="Cancel" OnClick="@(() => ShowEditor = false)"></DialogButton>
        <DialogButton Content="Save" IsPrimary="true" OnClick="@SaveConnection"></DialogButton>
    </DialogButtons>
</SfDialog>

<SfDialog Width="750px" IsModal="true" @bind-Visible="ShowTagEditor" ShowCloseIcon="true"
          Header="@($"Tags - {SelectedConnection?.Name}")">
    <DialogTemplates>
        <Content>
            <div class="tag-toolbar">
                <SfButton CssClass="e-primary e-small" IconCss="e-icons e-plus" Content="Add Tag"
                          OnClick="@AddTag"></SfButton>
                @if (SelectedConnection?.Type == ConnectionType.Simulator)
                {
                    <SfButton CssClass="e-outline e-small" Content="Generate Sample Tags"
                              OnClick="@GenerateSimulatorTags"></SfButton>
                }
            </div>

            @if (SelectedConnection?.Tags.Count == 0)
            {
                <div class="no-data">No tags configured.</div>
            }
            else
            {
                <SfGrid DataSource="@SelectedConnection?.Tags" AllowSelection="true" Height="300">
                    <GridColumns>
                        <GridColumn Field="@nameof(TagConfig.Name)" HeaderText="Name" Width="130"></GridColumn>
                        <GridColumn Field="@nameof(TagConfig.Address)" HeaderText="Address" Width="160">
                            <Template>
                                @{
                                    var tag = context as TagConfig;
                                    <span class="mono-text">@tag?.Address</span>
                                }
                            </Template>
                        </GridColumn>
                        <GridColumn Field="@nameof(TagConfig.DataType)" HeaderText="Type" Width="80"></GridColumn>
                        <GridColumn HeaderText="Poll Rate" Width="90">
                            <Template>
                                @{
                                    var tag = context as TagConfig;
                                    <span>@tag?.PollRateMs ms</span>
                                }
                            </Template>
                        </GridColumn>
                        <GridColumn HeaderText="Enabled" Width="80">
                            <Template>
                                @{
                                    var tag = context as TagConfig;
                                    <SfCheckBox TChecked="bool" @bind-Checked="tag!.Enabled"></SfCheckBox>
                                }
                            </Template>
                        </GridColumn>
                        <GridColumn HeaderText="Actions" Width="100">
                            <Template>
                                @{
                                    var tag = context as TagConfig;
                                    <div class="action-buttons">
                                        <SfButton CssClass="e-small e-flat" IconCss="e-icons e-edit"
                                                  OnClick="() => EditTag(tag!)"></SfButton>
                                        <SfButton CssClass="e-small e-flat e-danger" IconCss="e-icons e-delete"
                                                  OnClick="() => DeleteTag(tag!)"></SfButton>
                                    </div>
                                }
                            </Template>
                        </GridColumn>
                    </GridColumns>
                </SfGrid>
            }
        </Content>
    </DialogTemplates>
    <DialogButtons>
        <DialogButton Content="Save & Close" IsPrimary="true" OnClick="@SaveTagsAndClose"></DialogButton>
    </DialogButtons>
</SfDialog>

<SfDialog Width="450px" IsModal="true" @bind-Visible="ShowTagDetail" ShowCloseIcon="true"
          Header="@(IsNewTag ? "New Tag" : "Edit Tag")">
    <DialogTemplates>
        <Content>
            <div class="dialog-form">
                <div class="form-group">
                    <label>Name</label>
                    <SfTextBox @bind-Value="EditingTag.Name" Placeholder="Tag name"></SfTextBox>
                </div>
                <div class="form-group">
                    <label>Address</label>
                    <SfTextBox @bind-Value="EditingTag.Address"
                               Placeholder="DB1.DBD0 or ns=2;s=Temperature"></SfTextBox>
                </div>
                <div class="form-row">
                    <div class="form-group flex-grow">
                        <label>Data Type</label>
                        <SfDropDownList TItem="DataTypeOption" TValue="DataType"
                                        DataSource="@DataTypes"
                                        @bind-Value="EditingTag.DataType">
                            <DropDownListFieldSettings Text="Name" Value="Value"></DropDownListFieldSettings>
                        </SfDropDownList>
                    </div>
                    <div class="form-group flex-grow">
                        <label>Poll Rate (ms)</label>
                        <SfNumericTextBox TValue="int" @bind-Value="EditingTag.PollRateMs"
                                          Min="10" Max="60000" Step="10"></SfNumericTextBox>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group flex-grow">
                        <label>Unit</label>
                        <SfTextBox @bind-Value="EditingTag.Unit" Placeholder="°C, bar, etc."></SfTextBox>
                    </div>
                    <div class="form-group flex-grow">
                        <label>Scale Factor</label>
                        <SfNumericTextBox TValue="double" @bind-Value="EditingTag.ScaleFactor"
                                          Step="0.001" Format="n3"></SfNumericTextBox>
                    </div>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <SfTextBox @bind-Value="EditingTag.Description" Placeholder="Optional description"></SfTextBox>
                </div>
                <div class="form-row checkbox-row">
                    <SfCheckBox @bind-Checked="EditingTag.Enabled" Label="Enabled" TChecked="bool"></SfCheckBox>
                    <SfCheckBox @bind-Checked="EditingTag.LogHistory" Label="Log History" TChecked="bool"></SfCheckBox>
                </div>
            </div>
        </Content>
    </DialogTemplates>
    <DialogButtons>
        <DialogButton Content="Cancel" OnClick="@(() => ShowTagDetail = false)"></DialogButton>
        <DialogButton Content="Save" IsPrimary="true" OnClick="@SaveTag"></DialogButton>
    </DialogButtons>
</SfDialog>

<style>
    .connections-page {
        max-width: 1000px;
    }

    .page-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;
    }

    .page-header h1 {
        margin: 0;
        font-size: 18px;
    }

    .status-indicator {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin: auto;
    }

    .status-indicator.enabled {
        background: var(--status-ok);
        box-shadow: 0 0 6px var(--status-ok);
    }

    .status-indicator.disabled {
        background: var(--text-muted);
    }

    .mono-text {
        font-family: Consolas, monospace;
        font-size: 11px;
    }

    .text-muted {
        color: var(--text-muted);
        font-style: italic;
    }

    .action-buttons {
        display: flex;
        gap: 4px;
    }

    .empty-state {
        text-align: center;
        padding: 40px;
        color: var(--text-muted);
        background: var(--bg-surface);
        border: 1px solid var(--border-subtle);
        border-radius: 4px;
    }

    .dialog-form {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .form-group label {
        font-size: 11px;
        color: var(--text-muted);
    }

    .form-row {
        display: flex;
        gap: 12px;
    }

    .flex-grow {
        flex: 1;
    }

    .checkbox-row {
        flex-direction: row;
        gap: 24px;
        margin-top: 8px;
    }

    .tag-toolbar {
        display: flex;
        gap: 8px;
        margin-bottom: 12px;
    }

    .no-data {
        text-align: center;
        padding: 40px;
        color: var(--text-muted);
        font-style: italic;
    }
</style>

@code {
    private bool ShowEditor = false;
    private bool IsNewConnection = false;
    private ConnectionConfig EditingConnection = new();

    private bool ShowTagEditor = false;
    private ConnectionConfig? SelectedConnection;

    private bool ShowTagDetail = false;
    private bool IsNewTag = false;
    private TagConfig EditingTag = new();

    private List<ConnectionTypeOption> ConnectionTypes = Enum.GetValues<ConnectionType>()
        .Select(t => new ConnectionTypeOption(t.ToString(), t))
        .ToList();

    private List<DataTypeOption> DataTypes = Enum.GetValues<DataType>()
        .Select(t => new DataTypeOption(t.ToString(), t))
        .ToList();

    private void NewConnection()
    {
        EditingConnection = new ConnectionConfig
        {
            Type = ConnectionType.Simulator,
            Port = GetDefaultPort(ConnectionType.Simulator)
        };
        IsNewConnection = true;
        ShowEditor = true;
    }

    private void EditConnection(ConnectionConfig conn)
    {
        EditingConnection = new ConnectionConfig
        {
            Id = conn.Id,
            Name = conn.Name,
            Type = conn.Type,
            Host = conn.Host,
            Port = conn.Port,
            Enabled = conn.Enabled,
            Tags = conn.Tags
        };
        IsNewConnection = false;
        ShowEditor = true;
    }

    private void OnTypeChanged(ConnectionType type)
    {
        EditingConnection.Port = GetDefaultPort(type);
    }

    private async Task SaveConnection()
    {
        if (string.IsNullOrWhiteSpace(EditingConnection.Name))
            return;

        await ConfigService.SaveConnectionAsync(EditingConnection);
        await MqttService.ReloadConfigAsync();
        ShowEditor = false;
    }

    private async Task DeleteConnection(ConnectionConfig conn)
    {
        await ConfigService.DeleteConnectionAsync(conn.Id);
        await MqttService.ReloadConfigAsync();
    }

    private void EditTags(ConnectionConfig conn)
    {
        SelectedConnection = conn;
        ShowTagEditor = true;
    }

    private async Task SaveTagsAndClose()
    {
        if (SelectedConnection != null)
        {
            await ConfigService.SaveConnectionAsync(SelectedConnection);
            await MqttService.ReloadConfigAsync();
        }
        ShowTagEditor = false;
        SelectedConnection = null;
    }

    private void AddTag()
    {
        EditingTag = new TagConfig
        {
            PollRateMs = 1000,
            DataType = DataType.Float,
            ScaleFactor = 1.0,
            Enabled = true,
            LogHistory = true
        };
        IsNewTag = true;
        ShowTagDetail = true;
    }

    private void EditTag(TagConfig tag)
    {
        EditingTag = new TagConfig
        {
            Id = tag.Id,
            Name = tag.Name,
            Address = tag.Address,
            DataType = tag.DataType,
            PollRateMs = tag.PollRateMs,
            Enabled = tag.Enabled,
            LogHistory = tag.LogHistory,
            ScaleFactor = tag.ScaleFactor,
            Offset = tag.Offset,
            Unit = tag.Unit,
            Description = tag.Description
        };
        IsNewTag = false;
        ShowTagDetail = true;
    }

    private void SaveTag()
    {
        if (string.IsNullOrWhiteSpace(EditingTag.Name) || SelectedConnection == null)
            return;

        if (IsNewTag)
        {
            SelectedConnection.Tags.Add(EditingTag);
        }
        else
        {
            var idx = SelectedConnection.Tags.FindIndex(t => t.Id == EditingTag.Id);
            if (idx >= 0)
                SelectedConnection.Tags[idx] = EditingTag;
        }

        ShowTagDetail = false;
    }

    private void DeleteTag(TagConfig tag)
    {
        SelectedConnection?.Tags.Remove(tag);
    }

    private void GenerateSimulatorTags()
    {
        if (SelectedConnection == null) return;

        var tagTypes = new[] {
            ("Temperature", "sim/temp_{0}", DataType.Float, "°C"),
            ("Pressure", "sim/pressure_{0}", DataType.Float, "bar"),
            ("Level", "sim/level_{0}", DataType.Float, "%"),
            ("Flow", "sim/flow_{0}", DataType.Float, "L/min"),
            ("Status", "sim/status_{0}", DataType.Bool, (string?)null)
        };

        var nextNum = SelectedConnection.Tags.Count + 1;
        foreach (var (name, addr, dataType, unit) in tagTypes)
        {
            SelectedConnection.Tags.Add(new TagConfig
            {
                Name = $"{name}_{nextNum}",
                Address = string.Format(addr, nextNum),
                DataType = dataType,
                Unit = unit,
                PollRateMs = 500,
                ScaleFactor = 1.0,
                Enabled = true,
                LogHistory = true
            });
        }
    }

    private int GetDefaultPort(ConnectionType type) => type switch
    {
        ConnectionType.OpcUa => 4840,
        ConnectionType.EtherNetIP => 44818,
        ConnectionType.S7 => 102,
        ConnectionType.ModbusTcp => 502,
        ConnectionType.Mqtt => 1883,
        _ => 0
    };

    public record ConnectionTypeOption(string Name, ConnectionType Value);
    public record DataTypeOption(string Name, DataType Value);
}
